<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap-5/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome-6/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Chat Box</title>
</head>

<body>

    <div class="modal fade" id="setUsernameModal" tabindex="-1" role="dialog"
        aria-labelledby="setUsernameModalTitle" aria-hidden="true" 
        data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Set Username 💬</h5>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" id="inputUsername" class="form-control" placeholder="Enter Username">
                        <button  id="randomUsername" class="input-group-text" title="Random Username">🎲</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveUsername">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <section class="msger">
        <header class="msger-header">
            <div class="msger-header-title">
                <i class="fas fa-comment-alt"></i> Welcome <span id="headerName">User</span>!
            </div>
            <div class="msger-header-options">
                <!-- <span><i class="fas fa-cog"></i></span> -->
                <span id="changeUsernameBtn" title="Change Username" data-bs-toggle="tooltip" data-bs-placement="left" ><i class="fa-solid fa-pencil"></i></span>
            </div>
        </header>

        <main class="msger-chat" id="messagesArea">
            <!-- <div class="msg right-msg">
                <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)">
                </div>
                <div class="msg-bubble">
                    <div class="msg-info">
                        <div class="msg-info-name">Sajad</div>
                        <div class="msg-info-time">12:46</div>
                    </div>
                    <div class="msg-text">
                        You can change your name in JS section!
                    </div>
                </div>
            </div> -->
        </main>

        <form id="messageForm" class="msger-inputarea">
            <!-- <i class="fa fa-face-smile-wink" title="Emojis"></i> -->
            <input type="text" class="msger-input" id="message-input" placeholder="Enter your message..." autocomplete="off">
            <button type="submit" class="msger-send-btn" id="message-send-btn">Send</button>
        </form>
    </section>

    <script src="jquery-3.7.1.min.js"></script>
    <script src="bootstrap-5/js/bootstrap.min.js"></script>
    <script src="socket.io.min.js"></script>
    <!-- <script src="/vendor/emoji-mart/dist/main.js"></script> -->
    <script src="index.js"></script>
</body>

</html>